body{
    background-color: #EF88AD;
}
h1{
    color:#FFF9E5;
    text-align: center;
    font-size: 60px;
}
p{
    color: #670D2F;
    text-align: center;
    font-size: 40px;
}
img{
    margin-left: 756px;
    width: 20%;
}